%div{class: "container mx-auto my-4 font-messiri"}
  .flex.flex-wrap.justify-center
    .w-full.px-4.mb-8{:class => "md:w-8/12"}
      = image_tag(@article.image, class: "w-full h-64 object-cover rounded", alt: @article.title)
      %h1.text-4xl.font-bold.mt-4.mb-2
        = @article.title
      %p.text-stone-700.mb-4.text-2xl
        = @article.description
      %p.text-stone-700.mb-4.text-2xl
        = @article.body