%footer{class: "py-4 px-4 shadow-md z-10 flex justify-content-center align-items-center bg-stone-200"}
  %div{class: "text-sm text-gray-600"}
    Copyright © 2022-#{Date.today.strftime('%Y')} Швейна майстерня ☞ ДРУЖБА ☜
  -#.flex.ml-auto.gap-4
    %a.text-gray-700.hover:text-gray-900{:href => "#"}
      Terms
    %a.text-gray-700.hover:text-gray-900{:href => "#"}
      Conditions
    %a.text-gray-700.hover:text-gray-900{:href => "#"}
      Privacy
    %a.text-gray-700.hover:text-gray-900{:href => "#"}
      Policy
