-#%div{class: ""}
%section{class: "container font-caveat mx-auto px-4 space-y-6 bg-stone-100 py-8 md:py-10 lg:py-14"}
  .max-w-2xl.lg:max-w-4xl.mx-auto.text-center
    %h2.text-4xl.font-extrabold.text-gray-900 Ми завжди раді вас бачити
    -#%p.mt-4.text-lg.text-gray-500 Lorem ipsum dolor sit amet consectetur adipisicing elit.
  %div{class: "container mx-auto px-8 lg:flex"}
    %div{class: "text-center lg:text-left lg:w-1/2"}
      .max-w-7xl.mx-auto.py-4.px-4.sm:px-6.lg:py-8.lg:px-8
        .grid.grid-cols-1.md:grid-cols-2.gap-8
          .rounded-lg.overflow-hidden
            %iframe{:allowfullscreen => "", :height => "480", :loading => "lazy", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11672.945750644447!2d-122.42107853750231!3d37.7730507907087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858070cc2fbd55%3A0xa71491d736f62d5c!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1619524992238!5m2!1sen!2sus", :style => "border:0;", :width => "100%"}
    %div{class: "lg:w-1/2"}
      .max-w-full.mx-auto.rounded-lg.overflow-hidden
        .px-6.py-4
          %h3.text-lg.font-medium.text-gray-900 Наша адреса:
          %p.mt-1.text-gray-600.text-2xl 50055, вул. Кокчетавська 3, м. Кривий Ріг
        .border-t.border-gray-200.px-6.py-4
          %h3.text-lg.font-medium.text-gray-900 Часи роботи:
          %p.mt-1.text-gray-600.text-2xl Вівторок - Пʼятниця: 9:00 - 17:00
          %p.mt-1.text-gray-600.text-2xl Субота: 10:00 - 16:00
          %p.mt-1.text-gray-600.text-2xl Неділя - Понеділок: Зачинено
        .border-t.border-gray-200.px-6.py-4
          %h3.text-lg.font-medium.text-gray-900 Контакти:
          %p.mt-1.text-gray-600.text-2xl
            Email:
            %a{href: "mailto:ksuha@druzhba.biz.ua"}ksuha@druzhba.biz.ua
          %p.mt-1.text-gray-600.text-2xl
            Телефон:
            %a{href: "tel:+380972870571"}+38 097 287 05 71 (зателефонувати)

