%div{class: "tw-container tw-relative tw-rounded-lg tw-shadow-md tw-flex tw-flex-col tw-items-center tw-mx-auto mb-8 lg:tw-flex-row-reverse lg:tw-max-w-5xl lg:tw-mt-12 xl:tw-max-w-6xl"}
  %div{class: "tw-w-full tw-h-64 lg:tw-h-auto lg:tw-w-1/2"}
    = image_tag("services_slide_7_1.jpg", class: "tw-h-full tw-w-full tw-object-cover", alt: "Winding mountain road")
  %div{class: "tw-max-w-lg tw-bg-white md:tw-max-w-2xl md:tw-z-10 md:tw-shadow-lg md:tw-absolute md:tw-top-0 md:tw-mt-48 lg:tw-left-0 lg:tw-mt-20 lg:tw-ml-20 xl:tw-mt-24 xl:tw-ml-12 lg:tw-w-3/5"}
    %div{class: "tw-flex tw-flex-col tw-p-12 md:tw-px-16 tw-font-bad_script"}
      %h2{class: "tw-text-2xl tw-font-medium tw-uppercase tw-text-red-600 lg:tw-text-2xl"} Старим речам - нове життя
      %p{class: "tw-mt-1 tw-mb-4 tw-text-xl tw-text-stone-800"}
        Какая-то хреть о том, что вещи старые изнашиваются, рвутся и т.д, а мы их чиним и латаем
      %h2{class: "tw-text-2xl tw-font-medium tw-uppercase tw-text-red-600 lg:tw-text-2xl"} Новим речам - нове життя
      %p{class: "tw-mt-1 tw-text-xl tw-text-stone-800"}
        Какая-то хреть о том, что вещи новые не всегда ладно сидят. Их можно подогнать
      %div{class: "tw-mt-8"}
        %a{class: "tw-font-caveat tw-inline-block tw-w-1/3 tw-text-center tw-text-xl tw-font-medium tw-text-red-600 tw-bg-stone-100 hover:tw-bg-stone-200 tw-border tw-border-red-600 tw-font-bold tw-py-2 tw-px-4 tw-rounded-lg", href: "#services"}
          Послуги
