%section{class: "list mb-2 text-justify mt-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %h1{class: "text-center text-3xl text-red-500 sm:text-4xl leading-normal font-extrabold tracking-tight"}
    Умови використання
  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8 text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Використання даних користувачів
  %p{class: "text-xl text-stone-900 indent-8"}
    Для забезпечення найкращого обслуговування користувачів,
    додаткової зручності при роботі з сайтом та можливості зворотного зв'язку,
    ми використовуємо інформацію про тих, хто відвідує наш сайт,
    реєструється на ньому та/або відправляє повідомлення, через форму зворотного зв'язку.
    Це допомагає нам адаптувати сайт під ваші потреби та переваги,
    щоб зробити вашу взаємодію з нами максимально ефективною та зручною.
    Використання та захист даних здійснюється строго відповідно до чинних законів
    та нормативними актами.

  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8 text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Які дані ми збираємо та навіщо:
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Особисті дані:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Ім'я, адреса електронної пошти, номер телефону - для створення та керування вашим особистим акаунтом,
          забезпечення зворотного зв'язку з питань обслуговування та підтримки,
          а також інформування вас про наші послуги та нововведення.
          Ці дані також дозволяють нам оперативно реагувати на ваші запити та підтримувати зв'язок
          із вами з питань попередніх взаємодій.
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Дані про дії:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Історія відвідувань, кліки, час перебування на сайті
          для аналізу популярності різних розділів сайту, ідентифікації областей,
          що вимагають поліпшення, та надання персоналізованих рекомендацій та контенту.
          Це допомагає нам краще розуміти ваші уподобання та надати
          найбільш підходящі матеріали та функції.
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Технічні дані:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Тип пристрою, браузер, IP-адреса - для забезпечення стабільної та безпечної роботи сайту,
          покращення продуктивності та надійності сайту, а також адаптації сайту до різних пристроїв
          та браузерам. Це дозволяє нам забезпечувати високий ступінь безпеки та запобігати
          потенційні загрози та несанкціонований доступ до ваших даних.
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Cookie-файли:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Невеликі файли, що зберігаються в браузері користувача - для збереження ваших уподобань та налаштувань,
          прискорення процесу входу на сайт, зберігаючи вашу автентифікацію, аналізу відвідувань сайту та визначення
          найбільш популярних розділів, а також надання персоналізованих рекомендацій та
          рекламні пропозиції. Ви можете у будь-який момент видалити cookie-файли, очистивши кеш вашого браузера.
          Однак, при цьому можуть бути втрачені деякі персоналізовані налаштування та переваги,
          що може вплинути на зручність користування сайтом.

  %p{class: "text-xl text-stone-900 indent-8"}
    Цю інформацію ніколи не буде передано третім особам, що повністю відповідає закону України
    "Про захист персональних даних" №2297-VI, який набрав чинності 1 червня 2010 року.
    Ми використовуємо всі необхідні заходи та технології для забезпечення збереження та конфіденційності
    ваші дані.

  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Статистичний аналіз за допомогою Google
  %p{class: "text-xl text-stone-900 text-justify indent-8"}
    Для отримання більш точної та детальної інформації щодо поведінки користувачів на нашому сайті, ми
    використовуємо інструменти аналізу та статистики, надані Google.
    Це дозволяє нам краще розуміти потреби наших користувачів та пропонувати їм більш цільові та
    корисні функції. Збір та аналіз цих даних допомагають покращити наш сервіс, роблячи його зручнішим
    та персоналізованим.

  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Аналіз відвідувачів - це дані про кількість відвідувачів, їх географічне розташування та
      поведінці на сайті, що допоможе нам:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Оцінювати популярність сайту та географічну розподіл користувачів.
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Адаптувати маркетингові стратегії до різних аудиторій.
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Розуміти сезонні та тимчасові тренди у використанні сайту, що дозволяє нам планувати оновлення та покращення.
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Звіти про ефективність - це
      дані про клікову (переходи за посиланнями) поведінку, конверсії та інші ключові метрики.
      Це дозволяє нам:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Поліпшувати взаємодію з користувачами.
        %li{class: "text-stone-900 text-xl leading-6"}
          Підвищувати ефективність наших рекламних кампаній.
        %li{class: "text-stone-900 text-xl leading-6"}
          Оптимізувати структуру та контент сайту для підвищення його привабливості та зручності використання.
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Інтерактивність сайту - ці дані про те, як користувачі взаємодіють з
      різних елементів сайту. Що дозволяє:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Створювати більш зручні та корисні функції.
        %li{class: "text-stone-900 text-xl leading-6"}
          Поліпшувати загальне задоволення користувачів.
        %li{class: "text-stone-900 text-xl leading-6"}
          Усунути виявлені проблеми та неполадки, покращуючи користувальницький досвід.

  %p{class: "text-xl text-stone-900 indent-8"}
    Ці дані використовуються виключно з вищеописаною метою,
    дозволяючи нам підтримувати високий рівень обслуговування та постійно покращувати сайт для вашої зручності.
    Ми прагнемо, щоб наші користувачі отримували лише позитивний досвід при використанні нашого ресурсу.

  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Згода на обробку персональних даних
  %p{class: "text-xl text-stone-900 indent-8"}
    Використовуючи наш сайт та надаючи свої дані, ви погоджуєтесь з тим,
    що ваша інформація буде оброблена відповідно до закону України
    "Про захист персональних даних" №2297-VI, який набрав чинності 1 червня 2010 року.
    Ваші дані будуть використовуватися виключно в рамках, описаних у цьому документі,
    для покращення вашого користувальницького досвіду та зручності роботи з нашим сайтом.
    Ми також можемо використовувати ці дані для задоволення зобов'язань,
    пов'язаних з безпекою та правовими вимогами.