%section{class: "mb-2 text-justify mt-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %h1{class: "text-center text-3xl text-red-500 sm:text-4xl leading-normal font-extrabold tracking-tight"}
    Условия использования
  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8 text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Использование данных пользователей
  %p{class: "text-xl text-stone-900 indent-8"}
    Для обеспечения наилучшего обслуживания пользователей,
    дополнительного удобства при работе с сайтом и возможности обратной связи,
    мы используем информацию о тех, кто посещает наш сайт,
    регистрируется на нем и/или отправляет сообщения, через форму обратной связи.
    Это помогает нам адаптировать сайт под ваши нужды и предпочтения,
    чтобы сделать ваше взаимодействие с нами максимально эффективным и удобным.
    Использование и защита данных осуществляется строго в соответствии с действующими законами
    и нормативными актами.

  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8 text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Какие данные мы собираем и зачем:
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Личные данные:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Имя, адрес электронной почты, номер телефона - для создания и управления вашим личным аккаунтом,
          обеспечения обратной связи по вопросам обслуживания и поддержки,
          а также информирования вас о наших услугах и новшествах.
          Эти данные также позволяют нам оперативно реагировать на ваши запросы и поддерживать связь
          с вами по вопросам предыдущих взаимодействий.
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Данные о действиях:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          История посещений, клики, время нахождения на сайте -
          для анализа популярности различных разделов сайта, идентификации областей,
          требующих улучшения, и предоставления персонализированных рекомендаций и контента.
          Это помогает нам лучше понимать ваши предпочтения и предоставить
          наиболее подходящие материалы и функции.

  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Технические данные:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Тип устройства, браузер, IP-адрес - для обеспечения стабильной и безопасной работы сайта,
          улучшения производительности и надежности сайта, а также адаптации сайта к различным устройствам
          и браузерам. Это позволяет нам обеспечивать высокую степень безопасности и предотвращать
          потенциальные угрозы и несанкционированный доступ к вашим данным.
  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Cookie-файлы:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Небольшие файлы, сохраняемые в браузере пользователя - для сохранения ваших предпочтений и настроек,
          ускорения процесса входа на сайт, сохраняя вашу аутентификацию, анализа посещений сайта и определения
          наиболее популярных разделов, а также предоставления персонализированных рекомендаций и
          рекламных предложений. Вы в любой момент можете удалить cookie-файлы, очистив кэш вашего браузера.
          Однако, при этом могут быть утеряны некоторые персонализированные настройки и предпочтения,
          что может повлиять на удобство пользования сайтом.
  
  %p{class: "text-xl text-stone-900 indent-8"}
    Эта информация никогда не будет передана третьим лицам, что полностью соответствует закону Украины
    "О защите персональных данных" №2297-VI, который вступил в силу 1 июня 2010 года.
    Мы используем все необходимые меры и технологии для обеспечения сохранности и конфиденциальности
    ваших данных.

  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Статистический анализ при помощи Google
  %p{class: "text-xl text-stone-900 text-justify indent-8"}
    Для получения более точной и детальной информации о поведении пользователей на нашем сайте, мы
    используем инструменты анализа и статистики, предоставляемые компанией Google.
    Это позволяет нам лучше понимать потребности наших пользователей и предлагать им более целевые и
    полезные функции. Сбор и анализ этих данных помогают улучшить наш сервис, делая его более удобным
    и персонализированным.

  %ul{class: "text-stone-900 text-xl leading-6"}
    %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
      Анализ посетителей - это данные о количестве посетителей, их географическое расположение и
      поведении на сайте, что поможет нам:
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Оценивать популярность сайта и географическую распределенность пользователей.
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Адаптировать маркетинговые стратегии к различным аудиториям.
      %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
        %li{class: "text-stone-900 text-xl leading-6"}
          Понимать сезонные и временные тренды в использовании сайта, что позволяет нам планировать обновления и улучшения.
      %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
        Отчёты о эффективности - это
        данные о кликовом (переходы по ссылкам) поведении, конверсиях и других ключевых метриках.
        Это позволяет нам:
        %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
          %li{class: "text-stone-900 text-xl leading-6"}
            Улучшать взаимодействие с пользователями.
          %li{class: "text-stone-900 text-xl leading-6"}
            Повышать эффективность наших маркетинговых кампаний.
          %li{class: "text-stone-900 text-xl leading-6"}
            Оптимизировать структуру и контент сайта для повышения его привлекательности и удобства использования.
        %li{class: "text-stone-900 text-xl leading-6 ml-8 py-2"}
          Интерактивность сайта - эти данные о том, как пользователи вза имодействуют с
          различными элементами сайта. Что позволяет:
          %ul{class: "text-stone-900 text-xl leading-6 ml-4"}
            %li{class: "text-stone-900 text-xl leading-6"}
              Создавать более удобные и полезные функции.
            %li{class: "text-stone-900 text-xl leading-6"}
              Улучшать общую удовлетворенность пользователей.
            %li{class: "text-stone-900 text-xl leading-6"}
              Устранять выявленные проблемы и неполадки, улучшая пользовательский опыт.

  %p{class: "text-xl text-stone-900 indent-8"}
    Эти данные используются исключительно в вышеописанных целях,
    позволяя нам поддерживать высокий уровень обслуживания и постоянно улучшать сайт для вашего удобства.
    Мы стремимся к тому, чтобы наши пользователи получали только положительный опыт при использовании нашего ресурса.

  %h2{class: "text-2xl text-stone-900 sm:text-2xl leading-normal font-extrabold tracking-tight indent-8"}
    Согласие на обработку персональных данных
  %p{class: "text-xl text-stone-900 indent-8"}
    Используя наш сайт и предоставляя свои данные, вы соглашаетесь с тем,
    что ваша информация будет обработана в соответствии с законом Украины
    "О защите персональных данных" №2297-VI, который вступил в силу 1 июня 2010 года.
    Ваши данные будут использоваться исключительно в рамках, описанных в этом документе,
    для улучшения вашего пользовательского опыта и удобства работы с нашим сайтом.
    Мы также можем использовать эти данные для удовлетворения обязательств,
    связанных с безопасностью и правовыми требованиями.
