%div{class: ""}
  %div{class: "row"}
    = render "cards"
  %div{class: "px-1"}
    = render "messages"
    = render "orders"
%div{class: "row"}
  %div{class: "col-12 col-md-4 bg-info"} &nbsp
  %div{class: "col-12 col-md-4 bg-purple"} &nbsp
  %div{class: "col-12 col-md-4 bg-warning"} &nbsp