.container-fluid
  .row.flex-nowrap
    .col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark
      .d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-white.min-vh-100
        %a.d-flex.align-items-center.pb-3.mb-md-0.me-md-auto.text-white.text-decoration-none{:href => "/"}
          %span.fs-5.d-none.d-sm-inline Menu
        %ul#menu.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start
          %li.nav-item
            %a.nav-link.align-middle.px-0{:href => "#"}
              %i.fs-4.bi-house
              %span.ms-1.d-none.d-sm-inline Home
          %li
            %a.nav-link.px-0.align-middle{"data-bs-toggle" => "collapse", :href => "#submenu1"}
              %i.fs-4.bi-speedometer2
              %span.ms-1.d-none.d-sm-inline Dashboard
            %ul#submenu1.collapse.show.nav.flex-column.ms-1{"data-bs-parent" => "#menu"}
              %li.w-100
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Item
                  1
              %li
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Item
                  2
          %li
            %a.nav-link.px-0.align-middle{:href => "#"}
              %i.fs-4.bi-table
              %span.ms-1.d-none.d-sm-inline Orders
          %li
            %a.nav-link.px-0.align-middle{"data-bs-toggle" => "collapse", :href => "#submenu2"}
              %i.fs-4.bi-bootstrap
              %span.ms-1.d-none.d-sm-inline Bootstrap
            %ul#submenu2.collapse.nav.flex-column.ms-1{"data-bs-parent" => "#menu"}
              %li.w-100
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Item
                  1
              %li
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Item
                  2
          %li
            %a.nav-link.px-0.align-middle{"data-bs-toggle" => "collapse", :href => "#submenu3"}
              %i.fs-4.bi-grid
              %span.ms-1.d-none.d-sm-inline Products
            %ul#submenu3.collapse.nav.flex-column.ms-1{"data-bs-parent" => "#menu"}
              %li.w-100
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Product
                  1
              %li
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Product
                  2
              %li
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Product
                  3
              %li
                %a.nav-link.px-0{:href => "#"}
                  %span.d-none.d-sm-inline Product
                  4
          %li
            %a.nav-link.px-0.align-middle{:href => "#"}
              %i.fs-4.bi-people
              %span.ms-1.d-none.d-sm-inline Customers
        %hr/
        .dropdown.pb-4
          %a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
            %img.rounded-circle{:alt => "hugenerd", :height => "30", :src => "https://github.com/mdo.png", :width => "30"}/
            %span.d-none.d-sm-inline.mx-1 loser
          %ul.dropdown-menu.dropdown-menu-dark.text-small.shadow{"aria-labelledby" => "dropdownUser1"}
            %li
              %a.dropdown-item{:href => "#"} New project...
            %li
              %a.dropdown-item{:href => "#"} Settings
            %li
              %a.dropdown-item{:href => "#"} Profile
            %li
              %hr.dropdown-divider/
            %li
              %a.dropdown-item{:href => "#"} Sign out
    .col.py-3
      %h3 Left Sidebar with Submenus
      %p.lead
        An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single
        menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.
      %ul.list-unstyled
        %li
          %h5 Responsive
          shrinks in width, hides text labels and collapses to icons only on mobile
