:javascript
  document.addEventListener('DOMContentLoaded', function() {
    const script = document.createElement('script');
    script.async = true;
    script.crossOrigin = "anonymous";
    script.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3829218691602401";

    script.onload = function() {
      console.log("Скрипт рекламы загружен успешно.");
    };

    script.onerror = function(error) {
      console.error("Ошибка загрузки скрипта рекламы:", error);
    };

    // Добавляем скрипт в конец body
    document.body.appendChild(script);
  });