.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense_category.class.human_attribute_name(:title)
      .col-md-9
        = expense_category.title
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense_category.class.human_attribute_name(:description)
      .col-md-9
        = expense_category.description
