= turbo_frame_tag :cookies_consent do
  - if session[:cookies_accepted].nil?
    .fixed.bottom-0.p-6.w-full.flex.justify-center{:class => "z-[2000]"}
      .bg-white.bg-opacity-95.text-xs.rounded-md.fade.show{:class => "w-[1200px]"}
        .p-4.flex.items-center.justify-between.px-6.rounded.border.border-green-700
          %p
            By using XYZ, you agree to our
          %div{class: "flex inline-block"}
            = link_to "Reject", cookies_path(cookies_accepted: false), class: "px-2"
            = link_to "Accept", cookies_path(cookies_accepted: true), class: "px-2", onClick: "consentGranted()"

            :javascript
              function consentGranted() {
                gtag('consent', 'update', {
                  'ad_storage': 'granted',
                  'ad_user_data': 'granted',
                  'ad_personalization': 'granted',
                  'analytics_storage': 'granted'
                });
                console.log(session[:cookies_accepted])
                console.log("granted")
              }