/* Custom styles */
.mask {
  mask-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
}

.h-shadow {
  text-shadow: 1px 1px 2px rgba(174, 10, 10, 0.5);
}

.trix-content {
  div {
    text-align: justify;
    /*text-indent: 2rem;*/
  }

  div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 75%; */
  }

  h1 {
    text-transform: uppercase; /* Преобразование текста в заглавные буквы */
    font-size: 1.1em; /* Увеличение размера шрифта на 1.2em */
    text-decoration: none; /* Удаление подчеркивания текста */
    position: relative; /* Для позиционирования псевдоэлемента */
  }

  h1::after {
    content: ""; /* Псевдоэлемент для создания подчеркивания */
    display: block; /* Отображение в виде блока */
    height: 3px; /* Высота подчеркивания */
    background-color: rgba(239, 68, 68, 1); /* Цвет подчеркивания */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Сдвиг влево */
    right: 0; /* Сдвиг вправо (до конца блока) */
    bottom: -3px; /* Расположение подчеркивания ниже текста */
  }

  em {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.05em;
  }

  a {
    color: rgba(239, 68, 68, 1);
  }

  a:hover {
    color: rgba(239, 68, 68, 1);
    text-decoration: underline solid rgba(239, 68, 68, 1);
    text-underline-offset: 4px;
  }

  pre {
    border-left: 3px solid rgba(239, 68, 68, 1);
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    padding-left: 10px;
  }

  ul {
    color: rgba(120, 113, 108, 1);
    margin-left: 15px;
  }

  li {
    list-style: square outside;
    padding-left: 10px;
  }

  li::marker {
    color: rgba(239, 68, 68, 1);
  }

  strong {
    text-shadow: 4px 4px 25px rgba(174, 10, 10, 0.5);
  }
}

.list {
  ul {
    color: rgba(120, 113, 108, 1);
  }
  
  li {
    list-style: square outside;
  }
  
  li::marker {
    color: rgba(239, 68, 68, 1);
  }
}

