/* Custom styles */
.h-shadow {
  text-shadow: 1px 1px 2px rgba(174, 10, 10, 0.5);
}

.trix-content {
  div {
    text-align: justify;
    /*text-indent: 2rem;*/
  }

  div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 75%; */
  }

  ul {
    color: rgba(120, 113, 108, 1);
  }

  li {
    list-style: square outside;
  }

  li::marker {
    color: rgba(239, 68, 68, 1);
  }

  strong {
    text-shadow: 4px 4px 25px rgba(174, 10, 10, 0.5);
  }
}